@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
#root {
  width: 1280px;
  /* width: 100%; */
  margin: 0 auto;
  /* padding: 2rem; */
}
