:root {
    --naranja: #ff7517;
    --gris: #3e3939;
    --oscuro: #2c2727;
    --claro: #f6f4f4;
}


.boton-mensajeria {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--naranja);
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 12px 26px;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: 1000;
}

/* Animación al pasar el mouse */
.boton-mensajeria:hover {
    background-color: #e56710;
    transform: scale(1.05);
}

/* Animación de entrada suave */
.boton-mensajeria {
    opacity: 0;
    animation: aparecer 0.6s ease forwards;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}