.foto-perfil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.card {
  transition: all 0.3s ease;
  border: none;
}

.card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}
.texto-recomendados {
  border-color: #ff7517;
  color: #3e3939;
}
.text-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* número de líneas */
  -webkit-box-orient: vertical;
}
