.carousel-item {
  background-color: #f6f4f4;
  height: 500px;
}
.carousel-item img {
  width: 600px;
  height: 100%;
  object-fit: contain;
  object-position: right;
}
.slide-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #3e3939;
  padding: 0.5rem;
  max-width: 40%;
}

.slide-text.left {
  left: 3%;
}

@media (max-width: 768px) {
  .carousel-item {
    height: auto;
    overflow: visible;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
  }

  .slide-text {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    max-width: 100%;

    margin-top: 1rem;
    padding: 0 1rem;
    z-index: 1;
    color: #3e3939;
  }

  .slide-text.left {
    left: auto;
  }

  .slide-text h3 {
    font-size: 20px;
  }
  .slide-text p {
    font-size: 8px;
    line-height: 1.2;
  }
}
