.logo-container {
  width: 200px;
  height: 80px;
}
.logo-navbar {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.mujer-radio {
  border-radius: 0;
}
.label-hombre,
.label-mujer,
.label-personalizado {
  padding-right: 10px;
}
.btn-main1 {
  background-color: #ff7517;
  color: #3e3939;
}
.btn-main2 {
  background-color: #f6f4f4;
  border-color: #ff7517;
  color: #3e3939;
}
