body {
  background-color: #ffffff !important;
}
.navbar.bg-body-tertiary,
.navbar.bg-light {
  background-color: #ffffff !important;
}
.logo-navbar-container {
  width: 200px;
  height: 80px;
}
.logo-navbar {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.input-group input {
  border-color: var(--naranja);
}
.form-control:focus,
.form-select:focus,
textarea:focus {
  border-color: var(--naranja);
  box-shadow: 0 0 6px var(--naranja);
}

.btn-main1 {
  background-color: var(--naranja);
  color: var(--gris-oscuro);
}
.btn-main2 {
  background-color: var(--claro);
  border-color: var(--naranja);
  color: var(--gris-oscuro);
}
.offcanvas-header {
  padding: 6px 12px;
}
.offcanvas-title {
  padding: 6px 12px;
}
.offcanvas-body {
  padding: 0 16px;
}
.offcanvas-body ul.list-unstyled li {
  margin-bottom: 8px;
}

.offcanvas-body ul.list-unstyled li a,
.navbar-nav li a,
.boton-hamburguer {
  display: block;
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.offcanvas-body ul.list-unstyled li a:hover,
.navbar-nav li a:hover,
.boton-hamburguer {
  background-color: var(--claro) !important;
  padding-left: 16px;
}

.offcanvas.no-scroll .offcanvas-body {
  overflow-y: hidden !important;
}

.offcanvas.no-scroll {
  max-height: 100vh;
}

.offcanvas.no-scroll .offcanvas-body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.offcanvas.no-scroll .offcanvas-body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 576px) {
  .logo-container {
    width: 100px;
    height: 50px;
  }

  .navbar-nav {
    display: none;
  }
  .navbar .btn.btn-outline-secondary {
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar .input-group {
    flex: 1;
  }
}
