body {
  background-color: var(--claro);
}
.form-title {
  color: var(--naranja);
}
.logo-registro-container {
  width: 500px;
  height: 100px;
}

.logo-registro {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.registro-input {
  width: 100%;
  max-width: 600px;
  border: 1.5px solid var(--gris-oscuro);
  border-radius: 6px;
  padding: 5px;
  font-size: 1rem;
  background-color: white;
  transition: 0.3s ease;
}
.form-container {
  background-color: white;
  border: 2px solid var(--claro);
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  padding: 0;
}
.mujer-radio {
  border-radius: 0;
}
.label-hombre,
.label-mujer,
.label-personalizado {
  padding-right: 10px;
}
.btn-main1 {
  background-color: var(--naranja);
  color: white;
  font-weight: bold;
}

.form-check-input:checked {
  background-color: var(--naranja);
  border-color: var(--naranja);
}
.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.modal-dialog {
  max-width: 400px;
  margin: auto;
}

@media (max-width: 576px) {
  .form-container,
  .logo-registro-container {
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
  }
  .header-responsive {
    margin-bottom: 1rem !important;
  }

  .modal-dialog {
    max-width: 300px;
    margin: auto;
  }
}
