.foto-perfil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.card {
  transition: all 0.3s ease;
  border: none;
}

.btn-main1 {
  padding: 5px 9px !important;
}
.card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}
.texto-recomendados {
  color: #3e3939;
}
.text-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
