:root {
  --naranja: #ff7517;
  --gris-oscuro: #3e3939;
  --oscuro: #2c2727;
  --claro: #f6f4f4;
}
body {
  background-color: var(--claro);
}

/* Contenedor general */
.login-page-swapp {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: var(--gris-oscuro);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

/* Columna izquierda (logo + eslogan) */
.logo-login-container {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-login {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slogan-login {
  font-weight: 500;
  color: var(--gris-oscuro);
  margin-top: 0.8rem;
}

/* Contenedor del formulario */
.login-box-swapp {
  background-color: #fff;
  border: 2px solid var(--claro);
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  padding: 3rem 3.5rem;
  width: 100%;
  max-width: 780px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Título */
.form-title-login {
  color: var(--naranja);
  text-align: left;
}

/* Campos de entrada */
.login-input-swapp {
  border: 1.5px solid var(--gris-oscuro);
  border-radius: 6px;
  padding: 10px;
  font-size: 1rem;
  transition: 0.3s ease;
}

.login-input-swapp:focus {
  border-color: var(--naranja);
  box-shadow: 0 0 6px rgba(255, 117, 23, 0.3);
  outline: none;
}

/* Botón principal */
.btn-login-swapp {
  background-color: var(--naranja);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  transition: 0.3s ease;
}

.btn-login-swapp:hover {
  background-color: var(--gris-oscuro);
  color: var(--claro);
}

/* Botón Google */
.btn-google-swapp {
  border: 1.5px solid var(--gris-oscuro);
  border-radius: 6px;
  background-color: white;
  color: var(--gris-oscuro);
  font-weight: 500;
  padding: 10px 0;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-google-swapp img {
  width: 20px;
  height: 20px;
}

.btn-google-swapp:hover {
  background-color: var(--gris-oscuro);
  border-color: var(--naranja);
  color: white;
  box-shadow: var(--naranja);
}

/* Enlace */
.enlace-login-swapp {
  color: var(--naranja);
  font-weight: 500;
  text-decoration: none;
}

.enlace-login-swapp:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 992px) {
  .logo-login-container {
    width: 400px;
    height: 90px;
  }
}

@media (max-width: 768px) {
  .login-page-swapp {
    flex-direction: column;
    padding: 1.5rem;
  }

  .logo-login-container {
    width: 320px;
    height: 80px;
  }

  .login-box-swapp {
    max-width: 95%;
    padding: 2rem;
    min-height: auto;
  }
}

@media (max-width: 576px) {
  .logo-login-container {
    width: 280px;
    height: 70px;
  }
}
